.not-found-container {
	display: flex;
	align-items: center;
	align-content: center;
	justify-items: center;
	justify-content: center;
	height: 90%;
}

.not-found-container img {
	height: 200px;
}

.left-side {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;

	height: 30%;
	padding-right: 10px;
	border-right: 3px solid #3f51b5;
}

.right-side {
	padding-left: 13px;
}

