<h1 class="default">Active Tasks</h1>

<table mat-table [dataSource]="activeTasks" class="mat-elevation-z8">


	<!-- Position Column -->
	<ng-container matColumnDef="#">
	  <th mat-header-cell *matHeaderCellDef> # </th>
	  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
	</ng-container>
  
	<!-- Name Column -->
	<ng-container matColumnDef="Name">
	  <th mat-header-cell *matHeaderCellDef> Name </th>
	  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
	</ng-container>
  
	<!-- Weight Column -->
	<ng-container matColumnDef="Started At">
	  <th mat-header-cell *matHeaderCellDef> Started At </th>
	  <td mat-cell *matCellDef="let element"> 20 </td>
	</ng-container>
  
  
	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goToTask( row )"></tr>
  </table>
  
