mat-grid-tile{
    color : white;
}

mat-grid-tile:hover{
    background-color: lightslategray;
}

.content-header .catgory-name-input {
	width: 30%;
	font-size: 2em;
	margin: 0;
	padding: 0;
}

.category-name-input .mat-form-field-wrapper {
	padding-bottom: 0 !important;
}

table.mat-table, table.mat-table > .rowGroup {
	width: 100%;
}

.content-header {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.content-header .left-side {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: center;
}


.content-header .left-side * {
	margin: 0;
}


.content-header .right-side button {
	margin-right: 5px;
}


.task-creation {
	margin-bottom: 20px;
}

.ml-5 {
	margin-left: 5px;
}