<div class="content-header">
	<div class="left-side">
			<mat-icon aria-hidden="false" aria-label="icon" class="cat-icon">folder</mat-icon>
	
			<h3 class="cat-name">{{category.name}}</h3>

		
	</div>
	<div class="right-side">
		<button mat-raised-button color="primary" (click)="displayCategoryEdition()">
			<mat-icon aria-hidden="false" aria-label="icon" class="cat-icon">create</mat-icon>
			Edit
		</button>
		<button mat-raised-button color="primary" (click)="displayTaskCreation()">
			<mat-icon aria-hidden="false" aria-label="icon" class="cat-icon">add</mat-icon>
			Create Task
		</button>
		<button mat-raised-button color="warn" (click)="deleteCategory()">
			<mat-icon aria-hidden="false" aria-label="icon" class="cat-icon">delete</mat-icon>
			Delete
		</button>
	</div>
</div>

<div class="task-creation" *ngIf="displayTaskCreationForm">
	<mat-divider></mat-divider>
	<div class="action-form">
		<mat-form-field>
			<mat-label>Task Name</mat-label>
			<input matInput placeholder="Task Name" [(ngModel)]="taskName" required/>
		</mat-form-field>
		<button mat-raised-button color="primary" (click)="createTask()">Create</button>
	</div>
	<mat-divider></mat-divider>
</div>


<div class="category-edition" *ngIf="displayCategoryEditionForm">
	<mat-divider></mat-divider>
	<mat-form-field>
		<mat-label>Category Name</mat-label>
		<input matInput placeholder="Category Name" [(ngModel)]="category.name" />
	</mat-form-field>
	<mat-divider></mat-divider>
</div>

<h3>Tasks List</h3>
<app-tasks-table-view [tasks]="category.tasks"></app-tasks-table-view>