<div class="content-header">
	<mat-form-field class="input-full-width task-name-input">
		<input matInput [(ngModel)]="task.name" />
	</mat-form-field>

	<div class="right-side">
		<p class="task-counter">
			{{ taskCounter }}
		</p>
		<button mat-raised-button color="primary" class="action-button" *ngIf="!isActiveTask()" (click)="startTask()">
			<mat-icon aria-hidden="false" aria-label="Example home icon">play_arrow</mat-icon>
		</button>
		<button mat-raised-button color="primary" class="action-button" *ngIf="isActiveTask()" (click)="stopTask()">
			<mat-icon aria-hidden="false" aria-label="Example home icon">pause</mat-icon>
		</button>
	</div>
</div>


<div class="new-sequence-container">
	<mat-form-field class="start">
		<mat-label>Start</mat-label>
		<input matInput type="datetime-local" required="true" [(ngModel)]="sequenceStart">
	</mat-form-field>

	<mat-form-field class="end">
		<mat-label>End</mat-label>
		<input matInput type="datetime-local" [(ngModel)]="sequenceEnd">
	</mat-form-field>
	<button mat-raised-button (click)="createSequence()">Create Sequence</button>
</div>

<table mat-table [dataSource]="sequencesDataSource" class="mat-elevation-z8">

	<!-- Name Column -->
	<ng-container matColumnDef="start">
		<th mat-header-cell *matHeaderCellDef> Start </th>
		<td mat-cell *matCellDef="let sequence"> {{sequence.start | date : "M/d/yy h:mm a"}} </td>
	</ng-container>


	<ng-container matColumnDef="end">
		<th mat-header-cell *matHeaderCellDef> End </th>
		<td mat-cell *matCellDef="let sequence"> {{ sequence.end | date : "M/d/yy h:mm a" }} </td>
	</ng-container>


	<ng-container matColumnDef="duration">
		<th mat-header-cell *matHeaderCellDef> Duration </th>
		<td mat-cell *matCellDef="let sequence"> {{ durations[ task.sequences.indexOf( sequence ) ] }} </td>
	</ng-container>

	<!-- Weight Column -->
	<ng-container matColumnDef="action">
		<th mat-header-cell *matHeaderCellDef> Action </th>
		<td mat-cell *matCellDef="let sequence">
			<button mat-flat-button color="secondary">
				<mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
			</button>

			<button mat-flat-button color="secondary" *ngIf="!sequence.end" (click)="stopTask()">
				<mat-icon aria-hidden="false" aria-label="Example home icon">pause</mat-icon>
			</button>

			<button mat-flat-button color="secondary" *ngIf="sequence.end" (click)="deleteSequence( sequence )">
				<mat-icon aria-hidden="false" aria-label="Example home icon">delete
				</mat-icon>
			</button>

		</td>
	</ng-container>


	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>