table.mat-table {
	width: 100%;
}

.content-header {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.content-header .right-side {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.content-header .task-counter, .content-header h1 {
	margin: 0;
}

.content-header .task-counter {
	font-size: 2em;
	margin-right: 10px;
}

.content-header {
	padding-top: 10px;
}

.content-header  {
	padding: 10px;
	vertical-align: center;
}

.content-header .right-side .task-counter {
	color: gray;
	font-size: Roboto;
}

.content-header .task-name-input {
	width: 30%;
	font-size: 2em;
	margin: 0;
	padding: 0;
}

.task-name-input .mat-form-field-wrapper {
	padding-bottom: 0 !important;
}

.new-sequence-container .mat-form-field {
	margin-right: 8px;
	width: 250px;
  }

