<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <mat-toolbar color="primary" *ngIf="authService.isAuthenticated()">
        <span class="navbar-brand" (click)="goToHome()"><img class=" navbar-logo" src="assets/app-logo-white.png"
                alt="">{{title}}</span>
        <span (click)="goToHome()">Home</span>
        <span (click)="createSequence()" [matBadge]="nbActiveTasks" matBadgePosition="after" matBadgeColor="accent"
            (click)="goToActiveTasks()">Active Tasks</span>

        <span class="example-fill-remaining-space"></span>


        <mat-menu #rootMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="subMenu">
                <mat-icon>add</mat-icon>
                Create
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>reply</mat-icon>
                Logout
            </button>
        </mat-menu>

        <mat-menu #subMenu="matMenu">
            <button mat-menu-item (click)="createQuickTask()">
                <mat-icon>play_arrow</mat-icon>
                Quick Task
            </button>
            <button mat-menu-item (click)="displayCategoryCreation()">
                <mat-icon>folder</mat-icon>
                Category
            </button>
            <button mat-menu-item (click)="displayTaskCreation()">
                <mat-icon>insert_drive_file</mat-icon>
                Task
            </button>
        </mat-menu>


        <button mat-icon-button (click)="createQuickTask()">
            <mat-icon>play_arrow</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="rootMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        
    </mat-toolbar>

    <router-outlet></router-outlet>



</body>

</html>