<h1>Confirmation</h1>
<div mat-dialog-content>
	<p>Are you sure to delete this category ?</p>
  </div>
  <div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">Cancel</button>
	<button mat-raised-button color="warn" (click)="confirmDelete()" cdkFocusInitial>Delete</button>
  </div>