/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.background-primary {
	background-color: #3f51b5;
	color: white;
}


.example-fill-remaining-space {
	/* This fills the remaining space, by using flexbox. 
	   Every toolbar row uses a flexbox row layout. */
	flex: 1 1 auto;
  }

table.mat-table {
	width: 100%;
}