<h1>Category Creation</h1>
<div mat-dialog-content>
	
	<p>Input the created category's name</p>

	<mat-form-field>
		<mat-label>Category Name</mat-label>
		<input matInput placeholder="Ex. My Category" [(ngModel)]="catName">
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">Cancel</button>
	<button mat-raised-button color="primary" (click)="confirmAction()" cdkFocusInitial>Create</button>
</div>