<mat-tab-group>
    <!-- Begin: Categories section -->
    <mat-tab label="Categories">
        <h3>Categories List</h3>
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyCategoriesFilter($event)" placeholder="Ex. Category 1">
        </mat-form-field>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="categoriesDataSource" class="mat-elevation-z8">

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let category"> {{category.name}} </td>
                </ng-container>


                <ng-container matColumnDef="nb-tasks">
                    <th mat-header-cell *matHeaderCellDef>Tasks Number</th>
                    <td mat-cell *matCellDef="let category"> {{ category.tasks.length }} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let cat">
                        <button mat-flat-button (click)="goToCategory( cat )">
                            <mat-icon aria-hidden="false" aria-label="icon">launch</mat-icon>
                        </button>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="categoriesTableColumns"></tr>
                <tr mat-row *matRowDef="let task; columns: categoriesTableColumns;"></tr>
            </table>
        </div>

    </mat-tab>

    <!-- Begin: Tasks section -->
    <mat-tab label="Tasks">
        <h3>Tasks List</h3>
        <app-tasks-table-view [tasks]="tasks"></app-tasks-table-view>
    </mat-tab>

</mat-tab-group>

<!--
<app-active-tasks-view class="active-tasks"></app-active-tasks-view>


<div *ngIf="currentCategory || show; else ElseBlock" class="taskChoice">
    <h1 *ngIf="currentCategory" class="current-category">{{currentCategory.name}}</h1>
    <div *ngIf="wantAddTask; else AddTaskButton" class="add">
        <h4 style="text-align: center;color: black;">Création d'une tâche</h4>
        <mat-form-field style="display: inline;color: black;">
            <mat-label>Nom</mat-label>
            <input matInput [(ngModel)]="name">
        </mat-form-field>

        <button mat-button class="add-button" (click)="addTaskValid()">Valider</button>
    </div>
    <ng-template #AddTaskButton>
        <button mat-button color="primary" (click)="addTask()">Ajouter une nouvelle tâche</button>
        <button *ngIf="currentCategory" mat-button color="warn" (click)="removeCategory()">Supprimer la
            catégorie</button>
        <mat-grid-list cols=4 rowHeight="2:1">
            <mat-grid-tile role="listitem" class="background-primary" *ngFor="let task of currentTasks"
                (click)="taskChoosen(task)">
                <h1>{{task.name}}</h1>
            </mat-grid-tile>
        </mat-grid-list>
    </ng-template>
</div>
<ng-template #ElseBlock>
    <h1 class="default">Choisissez une catégorie</h1>
</ng-template>
-->