<div class="auth-container">
	<div class="auth-left background-primary" ng-reflect-color="primary">
		<img src="assets/app-logo-white.png" />
	</div>
	<div class="auth-right">
		<div class="form-container">
			<div class="alert alert-danger authenticationFailed" role="alert" *ngIf="authenticationFailed">
				Invalid Credentials
			</div>
			<mat-form-field class="input-full-width ml-5">
				<mat-label>Username</mat-label>
				<input matInput placeholder="Username" [(ngModel)]="username" />
			</mat-form-field>

			<mat-form-field class="input-full-width">
				<input type="password" matInput placeholder="Password" [(ngModel)]="password"/>
			</mat-form-field>
			<button mat-flat-button color="primary" (click)="login()">Login</button>
		</div>
	</div>
</div>