<mat-form-field>
	<mat-label>Filter</mat-label>
	<input matInput (keyup)="applyTasksFilter()" placeholder="Ex. Task 1" [(ngModel)]="taskFilter">
</mat-form-field>
<mat-slide-toggle color="primary" [(ngModel)]="activeTasksOnly" (click)="toggleActiveTasksFilter()">Active Tasks Only
</mat-slide-toggle>
<div class="mat-elevation-z8">
	<table mat-table [dataSource]="tasksDataSource" class="mat-elevation-z8" multiTemplateDataRows="true">

		<!-- Name Column -->
		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef>Name</th>
			<td mat-cell *matCellDef="let task"> {{task.name}} </td>
		</ng-container>


		<ng-container matColumnDef="creation">
			<th mat-header-cell *matHeaderCellDef>Creation</th>
			<td mat-cell *matCellDef="let task"> {{ task.creation | date : "short" }} </td>
		</ng-container>

		<ng-container matColumnDef="duration">
			<th mat-header-cell *matHeaderCellDef>Duration</th>
			<td mat-cell *matCellDef="let task">{{ durationByTask[ task.id ] }}</td>
		</ng-container>

		<ng-container matColumnDef="status">
			<th mat-header-cell *matHeaderCellDef>Status</th>
			<td mat-cell *matCellDef="let task">
				<span *ngIf="isActiveTask( task )">Active</span>
				<span *ngIf="!isActiveTask( task )">Stopped</span>
			</td>
		</ng-container>



		<ng-container matColumnDef="action">
			<th mat-header-cell *matHeaderCellDef>Action</th>
			<td mat-cell *matCellDef="let task">
				<button mat-icon-button (click)="goToTask( task )">
					<mat-icon>launch</mat-icon>
				</button>

				<button mat-icon-button (click)="startTask( task ); $event.stopPropagation()" *ngIf="!isActiveTask( task ) ">
					<mat-icon>play_arrow</mat-icon>
				</button>

				<button mat-icon-button (click)="stopTask( task ); $event.stopPropagation()" *ngIf="isActiveTask( task ) ">
					<mat-icon>pause</mat-icon>
				</button>
			</td>
		</ng-container>


		<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
		<ng-container matColumnDef="expandedDetail">
			<td mat-cell *matCellDef="let element" [attr.colspan]="tasksTableColumns.length">
				<div class="example-element-detail"
					[@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
					<mat-form-field>
						<mat-label>Task Name</mat-label>
						<input matInput  placeholder="Task Name" [(ngModel)]="element.name">
					</mat-form-field>

					<mat-form-field>
						<mat-label>Creation Date</mat-label>
						<input matInput  placeholder="Creation Date" [(ngModel)]="element.creation">
					</mat-form-field>
				</div>
			</td>
		</ng-container>

		<!--tr mat-header-row *matHeaderRowDef="tasksTableColumns"></tr>
		<tr mat-row *matRowDef="let task; columns: tasksTableColumns;" [class.example-expanded-row]="expandedElement === element"
		(click)="expandedElement = expandedElement === element ? null : element"></tr>
		<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr-->
		<tr mat-header-row *matHeaderRowDef="tasksTableColumns"></tr>
		<tr mat-row *matRowDef="let element; columns: tasksTableColumns;" class="example-element-row"
			[class.example-expanded-row]="expandedElement === element"
			(click)="expandedElement = expandedElement === element ? null : element">
		</tr>
		<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
	</table>
	<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>